@model Lab_1.Models.Instructor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Instructor</h4>
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="InstructorID" />
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Surname"></label>
                <input asp-for="Surname"/>
                <span asp-validation-for="Surname"></span>
            </div>
            <div>
                <label asp-for="Midname"></label>
                <input asp-for="Midname"/>
                <span asp-validation-for="Midname"></span>
            </div>
            <div>
                <label asp-for="Experience"></label>
                <input asp-for="Experience"/>
                <span asp-validation-for="Experience"></span>
            </div>
            <div>
                <label asp-for="Aducation"></label>
                <input asp-for="Aducation"/>
                <span asp-validation-for="Aducation"></span>
            </div>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
